@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic|Montserrat:400,700);

/* Hack in a dark mode. */
html {filter:invert() hue-rotate(180deg)}
body {opacity:.9}

body {
    background: #eee;
    color: #111;
    font: 16px/1.4 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, Verdana, Arial, Helvetica, sans-serif;
}

a {
    color: #00c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

textarea {box-sizing:border-box; margin:10px 0; min-height:18em; width:100%}

.header {
    background: #e1e1e1;
    height: 40px;
}

.header-inner {
    margin: 0 auto;
    max-width: 100%;
    width: 768px;
}

.header-inner > nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-inner > nav li {
    float: left;
    line-height: 40px;
    margin: 0;
    padding: 0;
}

.header-inner > nav li#nav-page-settings {float:right}

.header-inner > nav a {
    color: #000;
    display: block;
    font-family: Montserrat, Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0 10px;
    text-decoration: none;
}

.header-inner > nav li.active a {
    background: #eee;
    cursor: default;
}

.body {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 10px;
    width: 768px;
}

@media screen and (max-width: 454px) {
    .header {
        height: 38px;
    }

    .header-inner > nav li {
        line-height: 38px;
    }

    .header-inner > nav a {
        font-size: 16px;
        padding: 0 8px;
    }
}

@media screen and (max-width: 399px) {
    .header {
        height: 36px;
    }

    .header-inner > nav li {
        line-height: 36px;
    }

    .header-inner > nav a {
        font-size: 14px;
        padding: 0 6px;
    }
}

@media screen and (max-width: 334px) {
    .header {
        height: 34px;
    }

    .header-inner > nav li {
        line-height: 34px;
    }

    .header-inner > nav a {
        font-size: 13px;
        padding: 0 5px;
    }
}
